@charset "utf-8";

body {
    background-image: url("imagens/wallpaper001.jpg");
}



div.quadrado {
    display: inline-block;
    border: 3px solid black;
    border-radius: 15px;
    background-color: lightgrey;
    width: 200px;
    height: 200px;
}

div#q1 {
    background-color: lightpink;
}
div#q2 {
    background-image: linear-gradient(180deg, yellow, rgb(226, 0, 247));
}
div#q3 {
    background-image: url("imagens/pattern003.png");
}