@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --Marvel: "Marvel";
    --Martelsans: "Martel Sans";
    --cormenu: #5869FF;
}

body {
    font-family: var(--Marvel), Arial, Helvetica, sans-serif;
    background-image:url("tudo/img-site/plano-de-fundos/Gradient.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}

header {
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: white;
    max-height: 10vmax;
    min-height: 9vmin;
}
.logo-icon {
    max-height: 3.8vmax;
    min-height: 33px;
}

.rede-icon {
    max-width: 2.5vmax;
    min-width: 4px;
    padding-left: 20px;
}

.home-geral {
    display: inline-flex;
}

.home-geral p {
    padding: 15px;
    font-size: vmax;
    margin: 0px;
    
}

#rede {
    float: right;
    margin: 13px;
    padding-right: 2%;
    margin: 10px 0px 0px 0px;
}

#logo {
    float: left;
    margin: 5px;
    padding-left: 2%;
}

#nav {
    
    position: absolute;
    left: 37.25%;
}

nav a {
    color: #5869FF;
    text-decoration: none;
}
nav a:hover {
    color: #d60af1;
    font-weight: 700;
    text-decoration: underline;
}